@import "/styles/styles.scss";

.news {
  @include mobile-tablet {
    margin-bottom: 60px;
  }
}

.newBackground {
  background-color: $color-blue;
}

.flexGap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);

  @include mobile-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.tumblers {
  @include mobile-tablet {
    display: none;
  }
}

.offset {
  @include mobile-tablet {
    margin-top: 30px;
  }
}

.skeleton {
  height: 460px !important;
}
