@import "/styles/styles.scss";

.card {
  max-width: 800px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 2fr;
  align-items: center;
  border: 1px solid $color-black;

  &.ability {
    min-height: 280px;

    @include mobile {
      min-height: 750px;
    }
  }

  @include mobile {
    margin-bottom: 40px;
    grid-template-columns: 1fr;
    height: fit-content;
    max-height: 400px;
  }
}

.date {
  max-height: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: $color-dark-blue;
  color: $color-white;

  &.ability {
    max-height: 280px;
  }

  @include mobile {
    border: none;
  }
}

.number {
  font-family: $font-oswald;
  font-size: $fs-extralarge;
}

.month {
  font-family: $font-gravity;
  font-size: $fs-normal;

  &.ability {
    font-size: $fs-ability-normal;
  }
}

.time {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: $font-oswald;
  font-size: $fs-normal;

  & > span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      padding: 10px 0;
    }
  }

  @include mobile {
    border: none;
  }
}

.price {
  width: 100%;
  background-color: $color-red;
  font-family: $font-oswald;
  color: $color-white;
}

.about {
  padding: 0 10px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  border-left: 1px solid $color-black;
  border-right: 1px solid $color-black;

  @include mobile {
    border: none;
  }
}

.limits {
  font-size: $fs-small;
  font-family: $font-gravity;

  @include mobile-tablet {
    padding: 10px 0;
  }
}

.title {
  font-family: $font-oswald;
  font-size: $fs-normal;
}

.description {
  padding-bottom: 8px;
  font-family: $font-gravity;
  font-size: $fs-normal;
}

.more {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;

  @include mobile {
    border: none;
  }
}

.knowmore {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: $font-gravity;
  font-size: $fs-normal;
  font-weight: 400;
  background-color: $color-white;
  color: $color-black;

  @include mobile {
    padding: 10px 0;
  }
}

.button {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
  height: auto;

  @include mobile {
    padding: 10px 0;
  }
}

.ability {
  font-size: $fs-ability-normal;
}
