@import "/styles/styles.scss";

.item {
  @include mobile-tablet {
    border-bottom: 1px solid $color-black;
  }
}

.posterBlock {
  position: relative;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 15px;
  background-color: $color-dark-blue;
  font-family: $font-gravity;
  font-weight: $fw-semibold;
  font-size: $fs-normal;
  color: $color-white;

  &.ability {
    font-size: $fs-ability-normal;
  }
}

.poster {
  max-width: 300px;
  width: 100%;
  height: 190px;
  display: block;
  object-fit: cover;

  @include mobile-tablet {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
}

.title {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-dark-blue;
  font-family: $font-gravity;
  font-size: $fs-normal;
  color: $color-white;

  &.ability {
    font-size: $fs-ability-normal;
  }
}

.content {
  padding: 15px;
  border-bottom: 1px solid $color-dark-blue;
  background-color: $color-white;
  font-family: $font-gravity;
  font-size: $fs-normal;
  line-height: 21px;

  &.ability {
    font-size: $fs-ability-small;
  }

  @include mobile-tablet {
    border-left: 1px solid $color-dark-blue;
    border-right: 1px solid $color-dark-blue;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;

  @include mobile-tablet {
    border-left: 1px solid $color-dark-blue;
  }
}

.category {
  padding: 15px;
  font-family: $font-gravity;
  font-size: $fs-normal;
  color: $color-secondary;
}
