@import "/styles/styles.scss";

.wrapper {
  padding: 20px 0;
  width: 100%;

  @include mobile-tablet {
    padding-left: 0;
  }
}

.title {
  padding: 0 20px;
  font-family: $font-oswald;
  font-size: $fs-extralarge;
  line-height: 38px;

  @include mobile {
    font-size: $fs-large;
    line-height: 24px;
    padding-left: 0;
  }
}
