@import "/styles/styles.scss";

.project {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 360px;
  position: relative;

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 20px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-black;
  text-transform: uppercase;
}

.category {
  font-family: $font-gravity;
}

.title {
  font-family: $font-oswald;
  word-wrap: break-word;
  // max-width: 300px;
  max-width: 100%;
}

.content {
  word-wrap: break-word;
  max-width: 100%;
  // max-width: 300px;
  overflow-y: auto;
  padding: 10px;
  font-family: $font-gravity;
  @include scrollbar;
}

.img {
  position: relative;
  .thumbnail {
    width: 100%;
    // height: 313px;
    height: 100%;
    max-height: 313px;
    // object-fit: contain;
    object-fit: cover;
  }

  .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    & button {
      border: 1px solid #1d1f31;
    }
  }
}
