@import "/styles/styles.scss";

.decorations {
  padding-bottom: 40px;

  & > span {
    width: 100% !important;
  }

  & img {
    object-fit: cover;
  }

  @include mobile {
    padding-bottom: 0;
  }
}
