@import "/styles/styles.scss";

.title {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  & > span:last-child {
    min-width: 50px;
  }
}

.text {
  padding-right: 10px;
  font-family: $font-oswald;
  font-size: $fs-extralarge;
}

.number {
  font-family: $font-oswald;
  font-size: $fs-extralarge;
  color: $color-red;
}

.borderBottom {
  border-bottom: 1px solid $color-black;

  @include mobile-tablet {
    border-bottom: none;
  }
}

.collectives {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;

  @include mobile-tablet {
    padding-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  max-width: 100%;
  min-height: 440px;

  & img {
    width: 100%;
  }
}

.loadWrapper {
  padding: 20px 40px;
}

.loadmore {
  height: fit-content;
  padding: 10px 50px;
  margin: 0 auto;
  background-color: $color-white;
  border: 1px solid $color-black;
  font-family: $font-gravity;
  color: $color-black;

  @include mobile-tablet {
    width: 100%;
  }
}
