@import "/styles/styles.scss";

.header {
  display: flex;
  align-items: center;

  & > span {
    padding: 0 20px;
    font-family: $font-oswald;
    font-size: $fs-large;
  }
}

.content {
  display: grid;
  grid-template-columns: 2fr 5fr;

  @include mobile-tablet {
    grid-template-columns: 1fr;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    display: block;
  }

  &.loading {
    grid-column-gap: 20px;
  }
}

.gallery > div {
  height: 200px;

  @include mobile-tablet {
    height: 400px;
  }

  &:first-child {
    height: 180px;
    grid-column-start: 1;
    grid-column-end: 3;

    @include mobile-tablet {
      height: 350px;
    }
  }

  @include mobile {
    &:nth-child(4) {
      display: none;
    }

    &:nth-child(5) {
      display: none;
    }
  }
}

.imageSkeleton {
  width: 100%;
  height: 100%;

  &:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.thumbnail {
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  object-fit: cover;
}

.info {
  font-family: $font-gravity;
}

.main div > span:last-child {
  width: 100%;
}

.skeleton {
  width: 100%;
}

.secondary {
  color: $color-gray;

  &.ability {
    font-size: $fs-ability-normal;
  }
}

.bold {
  font-family: $font-oswald;

  &.ability {
    font-size: $fs-ability-normal;
  }
}

.descTitle {
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;

  & > span:first-child {
    font-size: $fs-large;
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.about.ability {
  font-size: $fs-ability-normal;
}

.text {
  padding: 20px;
  border-left: 1px solid $color-black;

  @include mobile-tablet {
    border: none;
  }
}

.ticher {
  padding-right: 8px;
  font-family: $font-oswald;
  font-size: $fs-large;
}

.border {
  border: 1px solid $color-black;
  border-top: none;
  border-right: none;

  @include mobile-tablet {
    border: none;
  }
}

.text > p {
  font-size: $fs-normal;
  line-height: 20px;
}

.list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 1px solid $color-black;
  text-transform: uppercase;
  font-size: $fs-small;
  font-weight: $fw-bold;
  list-style: none;

  @include mobile-tablet {
    border: none;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;

  &.ability {
    font-size: $fs-ability-normal;
  }
}

.title {
  padding: 20px !important;
  border-top: 0.1px solid !important;
  text-align: left !important;
  font-size: $fs-large;
  font-family: $font-oswald;

  @include mobile-tablet {
    text-align: center !important;
  }
}

.table {
  width: 100%;
}

.table > tr > td {
  max-width: 100px;
  padding: 10px;
  border: 1px solid $color-black;
  border-left: 0.5px solid;
  border-bottom: 0.5px solid $color-black;
  border-right: none;
  text-align: center;

  @include mobile-tablet {
    border-right: 1px solid;
  }

  @include mobile {
    max-width: 100%;
    display: block;
  }
}

.button {
  position: relative;
  padding: 0 !important;

  & > button {
    position: absolute;
    width: 100%;
    height: 100%;

    @include mobile {
      height: 40px;
    }
  }
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space {
  border: 0.5px solid !important;
  border-right: none;
  height: 35px;
}
