@import "/styles/styles.scss";

.header {
  display: flex;
  align-items: center;

  & > span {
    padding: 0 20px;
    font-family: $font-oswald;
    font-size: $fs-large;
  }
}

.content {
  display: grid;
  grid-template-columns: 2fr 5fr;

  @include mobile {
    display: block;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &.loading {
    grid-column-gap: 20px;
  }
}

.imageSkeleton {
  width: 100%;
  height: 100%;

  &:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;

  &:first-child {
    height: 180px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.info {
  font-family: $font-gravity;
}

.title {
  padding: 10px 20px;
  border: 1px solid $color-black;
  border-bottom: 0;
  font-size: $fs-large;
  font-family: $font-oswald;

  @include mobile-tablet {
    text-align: center;
  }
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-family: $font-gravity;

  @include mobile-tablet {
    display: block;
  }
}

.table > div {
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px 10px;
  border: 1px solid $color-black;

  @include mobile-tablet {
    justify-content: center;
  }
}

.main div > span:last-child {
  width: 100%;
}

.skeleton {
  width: 100%;
}

.secondary {
  color: $color-gray;

  &.ability {
    font-size: $fs-ability-normal;
  }
}

.bold {
  font-family: $font-oswald;

  &.ability {
    font-size: $fs-ability-normal;
  }
}

.column {
  flex-direction: column;
  align-items: flex-start !important;

  @include mobile-tablet {
    align-items: center !important;
  }
}

.button {
  padding: 0 !important;

  & > button {
    width: 100%;
  }
}

.location {
  grid-column-start: 2;
  grid-column-end: 4;
  justify-content: space-between;

  & > span:first-child {
    width: 100%;
  }

  & > span:last-child {
    width: auto !important;
  }
}

.descTitle {
  padding: 20px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 20px;

  & > span:first-child {
    font-size: $fs-large;
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.about.ability {
  font-size: $fs-ability-normal;
}

.text {
  padding: 20px;
  border-left: 1px solid $color-black;

  @include mobile-tablet {
    border: none;
  }
}

.border {
  border: 1px solid $color-black;
  border-top: none;
  border-right: none;

  @include mobile-tablet {
    border: none;
  }
}

.text > p {
  font-size: $fs-normal;
  line-height: 20px;
}

.list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 1px solid $color-black;
  text-transform: uppercase;
  font-size: $fs-small;
  font-weight: $fw-bold;
  list-style: none;

  @include mobile-tablet {
    border: none;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;

  &.ability {
    font-size: $fs-ability-normal;
  }
}
