@import "/styles/styles.scss";

.padding {
  padding: 20px;
}

.bold {
  font-weight: $fw-bold;
}

.oswald {
  font-family: $font-oswald;
}

.secondary {
  color: $color-gray;
  font-family: $font-gravity;
  font-size: $fs-normal;
}

.title {
  font-size: $fs-extralarge;
}

.map {
  width: 100%;
  height: 400px;
  background-color: red;
}

.spacesTitle {
  display: flex;
  align-items: center;
}

.counter {
  padding-left: 20px;
  width: 50px;
  color: $color-red;
}

.cards {
  padding: 0 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  @include mobile-tablet {
    padding: 0;
    margin-bottom: 40px;
  }

  @media screen and (max-width: 400px) {
    align-items: center;
  }
}

.skeleton {
  margin: 0 20px !important;
  height: 250px !important;
}

.buttonWrapper {
  padding-bottom: 40px;
}

.button {
  margin: 0px auto;
  padding: 10px 50px;
  background-color: $color-white;
  border: 1px solid $color-black;
  font-family: "Karla", sans-serif;
  color: $color-black;
}
