@import "/styles/styles.scss";

.afficheContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 280px;

  @include mobile-tablet {
    flex-direction: column;
  }
}

.mobileCarusel {
  display: none;

  @include mobile-tablet {
    display: block;
  }
}

.flex {
  display: flex;
}

.info {
  width: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: $color-dark-blue;
  font-size: $fs-extralarge;
  color: $color-white;
}

.carusel {
  display: flex;
  flex-direction: column;

  @include mobile-tablet {
    display: none !important;
  }
}

.perfomances {
  width: 100%;
  display: flex;

  @include mobile-tablet {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
}

.header {
  display: flex;
}

.button {
  width: 100%;
}

.mobileButton {
  display: none;

  @include mobile-tablet {
    margin-top: 20px;
    display: block;
  }
}

.content {
  padding: 25px 30px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: $color-dark-blue;
  color: $color-white;
}

.title {
  font-family: $font-oswald;
  font-size: $fs-extralarge;
}

.period {
  display: flex;
  align-items: center;
  gap: 10px;
}

.divider {
  width: 10px;
  height: 3px;
  background-color: $color-white;
}

.from,
.to {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.day {
  font-family: $font-alumni;
  font-size: $fs-extralarge;
  font-weight: $fw-bold;
}

.month {
  text-transform: uppercase;
  font-family: $font-alegreya;
  font-size: $fs-small;
  font-weight: $fw-bold;

  @include mobile-tablet {
    padding-bottom: 12px;
    align-self: flex-end;
  }
}

.footer {
  background-color: $color-red;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: $font-gravity;
  font-size: $fs-normal;
  color: $color-white;
}

.skeleton {
  width: 100%;
  height: 100%;
}

.daySkeleton {
  width: 40px;
  height: 30px;
  background-color: gray !important;
}

.monthSkeleton {
  width: 50px;
  height: 50px;
  background-color: gray !important;
}
