@import "/styles/styles.scss";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-black;

  @include mobile-tablet {
    height: 250px;
  }
}

.content {
  position: absolute;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  max-width: 80%;
  text-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
  font-family: $font-oswald;
  font-size: $fs-large;

  @include mobile {
    max-width: 90%;
    font-size: 1.1em;
  }
}

.category {
  text-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
  font-family: $font-gravity;
  font-size: $fs-normal;
  text-transform: uppercase;

  @include mobile {
    font-size: $fs-small;
  }
}

.thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 31, 49, 0);
  font-family: $font-gravity;
  line-height: 20px;
  color: $color-white;
  visibility: hidden;
  transition: 0.3s;
  z-index: 2;

  &.show {
    visibility: visible;
    background-color: rgba(29, 31, 49, 0.9);
  }

  @include mobile {
    font-size: $fs-normal;
  }
}

.description {
  padding: 20px;
}

.read {
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: $fs-normal;
  color: inherit;
  cursor: pointer;
}
