@import "/styles/styles.scss";

.main {
  font-family: $font-gravity;
}

.oswald {
  font-family: $font-oswald;
}

.header {
  padding: 30px;

  @include mobile {
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

.header > span {
  font-size: $fs-large;
  @include mobile {
    text-align: center;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.padding {
  padding: 20px;
}

.description > p {
  padding: 20px;

  &:first-child {
    font-weight: $fw-semibold;
    border-bottom: 1px solid $color-black;
  }
}

.thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: $fs-large;
}

.subtitle {
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  font-size: $fs-large;
}

.subtitle > span {
  text-align: center;
}

.collectivesCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 20px;

  @media screen and (max-width: 1200px) {
    padding: 0 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

    & > div:last-child {
      display: none;
    }
  }

  @media screen and (max-width: 860px) {
    grid-template-columns: repeat(2, 1fr);

    & > div:last-child {
      display: grid;
    }
  }

  @media screen and (max-width: 575px) {
    grid-template-columns: 1fr;
  }
}

.collectivesCards > span {
  width: 100%;
  height: 250px;
  display: flex;
}

.seeAll {
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  padding-right: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 4fr;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.about {
  padding: 30px;
  border-bottom: 1px solid $color-black;
}

.contacts {
  margin-top: 30px;
  display: flex;
  gap: 30px;

  @include mobile {
    flex-direction: column;
  }
}

.contacts > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: $fs-normal;
}

.ability {
  font-size: $fs-ability-normal;
}
