@import "/styles/styles.scss";

.wrapper {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-left: 1px solid $color-black;
  border-right: 1px solid $color-black;

  @include mobile-tablet {
    padding: 20px;
    grid-template-columns: 1fr;
    border: none;
  }
}
