@import "/styles/styles.scss";

.wrapper {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @include mobile-tablet {
    padding: 20px;
    grid-template-columns: 1fr;
    border: none;
  }
}

.skeleton {
  height: 300px;
}
