@import "/styles/styles.scss";

.main {
  @include mobile-tablet {
    display: none;
  }
}

.nav {
  background-color: rgba($color-red, 0);
}

.wrapper {
  position: relative;
}

.divider {
  position: absolute;
  width: 100%;
  height: 95%;
}

.root {
  text-transform: capitalize;
  flex: auto;
  border-right: 1px solid $color-black !important;

  &:last-child {
    border: none !important;
  }
}

.selected {
  display: flex;
  transition: 0.4s;
  background-color: rgba($color-red, 1) !important;
  color: $color-white !important;
}

.tabpanel > div {
  padding: 0 !important;
}

.ability * {
  font-size: $fs-ability-normal !important;
}
