@import "/styles/styles.scss";

.nav {
  background-color: rgba($color-red, 0);
}

.root {
  text-transform: capitalize;

  border: 1px solid $color-black;
}

.selected {
  display: flex;
  transition: 0.4s;
  background-color: rgba($color-red, 1);
  color: $color-white !important;
}
