@import "/styles/styles.scss";

.main {
  @include mobile-tablet {
    display: none;
  }
}

.nav {
  background-color: rgba($color-red, 0);
}

.root {
  text-transform: capitalize;
  flex: auto;
  border: 1px solid $color-black !important;
}

.selected {
  display: flex;
  transition: 0.4s;
  background-color: rgba($color-red, 1) !important;
  color: $color-white !important;
}
