@import "/styles/styles.scss";

$padding: 0 20px;

.card {
  max-width: 300px;
  max-height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr 2fr 1fr;

  &.ability {
    grid-template-rows: 3fr 2fr 2fr 1fr;
    max-height: 600px;
  }
}

.poster {
  position: relative;
}

.label {
  position: absolute;
  padding: 10px;
  background-color: $color-red;
  font-family: $font-oswald;
  font-size: $fs-normal;
  color: $color-white;

  &.ability {
    font-size: $fs-ability-small;
  }
}

.thumbnail {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
  max-height: 250px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-dark-blue;
  color: $color-white;
}

.title {
  margin: 10px 0;
  padding: $padding;
  font-family: $font-oswald;

  &.ability {
    font-size: $fs-ability-normal;
  }
}

.content {
  padding: $padding;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 1px solid $color-black;
  border-right: 1px solid $color-black;
}

.text {
  font-family: $font-gravity;

  &.ability {
    font-size: $fs-ability-normal;
  }
}

.secondary {
  font-family: $font-gravity;
  color: $color-gray;
}

.price {
  font-family: $font-oswald;

  &.ability {
    font-size: $fs-ability-normal;
  }
}

.buttonArrow {
  height: 100%;
}

.button {
  width: 100%;
}
