@import "/styles/styles.scss";

.card {
  position: relative;
  width: 100%;
  height: 400px;
  cursor: pointer;

  @include mobile {
    height: 200px;
  }
}

.thumbnail {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: 0;
}

.date {
  position: relative;
  padding: 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  color: $color-white;
  z-index: 1;
}

.number {
  font-size: $fs-extralarge;
  font-family: $font-oswald;
}

.dtaeMonth {
  font-family: $font-gravity;
  font-size: $fs-normal;
}

.narrow {
  font-family: $font-gravity;
  font-size: $fs-normal;
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  font-family: $font-oswald;
  font-size: $fs-large;
  color: $color-white;

  &.ability {
    font-size: $fs-ability-large;
  }

  @include mobile {
    left: 10px;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }
}

.ability {
  font-size: $fs-ability-normal;
}
