@import "/styles/styles.scss";

.acordion {
  position: relative;
  margin: 0 !important;
  min-width: 300px;
  height: fit-content;
  border: 1px solid $color-black;
  box-shadow: none;
}

.header {
  margin: 0 !important;
  display: flex;
  align-items: center;
  padding-right: 0;

  &.ability {
    font-size: $fs-ability-small !important;
  }

  & > div:first-child {
    margin: 0;
  }
}

.body {
  padding: 0 !important;
  display: flex;
  align-items: center;
  border-top: 1px solid $color-black;
  display: flex;
  font-family: $font-gravity;
}

.title {
  padding: 12px;
  padding-right: 50px;
  font-family: $font-oswald;
  font-weight: $fw-bold;
  line-height: 24px;
}

.button {
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  background-color: $color-red !important;
  color: $color-white !important;
}

.answer {
  padding: 10px;
  writing-mode: vertical-lr;
  font-family: $font-oswald;
  font-weight: $fw-bold;

  &.ability {
    font-size: $fs-ability-small;
  }
}

.content {
  padding: 10px;
  border-left: 1px solid $color-black;
  font-size: $fs-normal;

  &.ability {
    font-size: $fs-ability-small;
  }
}
