@import "/styles/styles.scss";

.button {
  width: 46px;
  height: 46px;
  outline: none;
  border: none;
  color: $color-white;
  cursor: pointer;
}

.red {
  background-color: $color-red;
}

.blue {
  background-color: $color-dark-blue;
}

.link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $color-white;
  cursor: pointer;
}
