@import "/styles/styles.scss";

.main {
  font-family: $font-gravity;
}

.bold {
  font-weight: $fw-bold;
}

.oswald {
  font-family: $font-oswald;
}

.padding {
  padding: 20px;
}

.title {
  font-family: $font-oswald;
  font-size: $fs-large;

  @include mobile {
    text-align: center;
  }
}

.bio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.poster {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: right;
}

.bio > div {
  display: flex;
  flex-direction: column;
}

.bio > div > p {
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: $font-gravity;
  font-weight: $fw-medium;
}

.bio > div > p:first-child {
  border-bottom: 1px solid;

  @include mobile-tablet {
    border: none;
  }
}

.house {
  display: flex;

  @include mobile {
    padding: 20px 0;
    flex-direction: column;
  }
}

.house > div {
  flex: 1;
}

.thumbnail {
  flex: 2;
  display: block;
  width: 100%;
  height: 100%;
}

.famous {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.famous > span:first-child {
  border-right: 1px solid $color-black;

  @include mobile-tablet {
    border: none;
  }
}

.famousPosters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.famousPoster {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ability {
  font-size: $fs-ability-normal;
}
