@import "/styles/styles.scss";

.main {
  font-family: $font-gravity;
}

.bold {
  font-weight: $fw-bold;
}

.oswald {
  font-family: $font-oswald;
}

.padding {
  padding: 20px;
}

.title {
  font-family: $font-oswald;
  font-size: $fs-large;

  @include mobile {
    text-align: center;
  }
}

.bio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include mobile-tablet {
    display: flex;
    flex-direction: column;
  }
}

.poster {
  position: relative;
  height: 300px;
  display: grid !important;
  grid-template-columns: 1fr 1fr;

  & > img:last-child {
    width: 290px;
    position: absolute;
    right: 0;

    @include mobile-tablet {
      right: auto;
      left: 330px;
    }
  }

  & > img {
    height: 300px;
    object-fit: cover;
    display: block;
  }

  @include mobile-tablet {
    margin-left: 20px;
    max-width: 100%;
    justify-items: center;
  }

  @include mobile {
    grid-template-columns: 1fr;

    & > img:first-child {
      display: none;
    }
    & > img:last-child {
      width: 100%;
      left: 0;
    }
  }
}

.fraerName {
  position: absolute;
  top: 100px;
  left: 210px;
  font-family: $font-oswald;
  font-size: $fs-extralarge;
  transform: rotate(-90deg);

  @media screen and (max-width: 1264px) {
    left: 190px;
  }
  @include mobile-tablet {
    left: 210px;
  }
  @include mobile {
    display: none;
  }
}

.bio > div {
  display: flex;
  flex-direction: column;
}

.bio > div > p {
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: $font-gravity;
  font-weight: $fw-medium;
}

.bio > div > p:first-child {
  border-bottom: 1px solid;

  @include mobile-tablet {
    border: none;
  }
}

.house {
  display: flex;

  @include mobile {
    padding: 20px 0;
    flex-direction: column;
  }
}

.house > div {
  flex: 1;
}

.thumbnail {
  flex: 2;
  display: block;
  width: 100%;
}

.famous {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.famous > span:first-child {
  border-right: 1px solid $color-black;

  @include mobile-tablet {
    border: none;
  }
}

.famousPosters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.famousPoster {
  display: block;
  width: 100%;
  height: 310px;
  object-fit: cover;
}

.ability {
  font-size: $fs-ability-normal;
}

.famousDecor {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.quadrat {
  width: 40px;
  height: 70px;
  background-color: $color-red;
}

.round {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: $color-dark-blue;
}
