@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Alumni+Sans&family=Karla:wght@400;700&family=Oswald:wght@500&display=swap");

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;

$fs-small: 12px;
$fs-normal: 14px;
$fs-large: 21px;
$fs-extralarge: 30px;

$fs-ability-small: 15px;
$fs-ability-normal: 18px;
$fs-ability-large: 24px;
$fs-ability-extralarge: 30px;

$font-gravity: "Karla", sans-serif;
$font-oswald: "Oswald", sans-serif;
$font-alegreya: "Alegreya Sans SC", sans-serif;
$font-alumni: "Alumni Sans", sans-serif;
