@import "/styles/styles.scss";


button.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: $color-red !important;
}

button.MuiButtonBase-root {
  border-radius: 0 !important;
}

button.MuiPickersDay-today {
  border: none !important;
  border-radius: 0 !important;
  background-color: $color-red;
  color: $color-white;
}

button.MuiPickersDay-today:hover {
  border: none !important;
  border-radius: 0 !important;
  background-color: $color-red
}

.css-1dozdou * {
  font-family: $font-oswald !important;
}
